.report{
    border-width: 0.2em;
    border-style: solid;
    border-color:  #f2f2f2 #dee2e6 #dee2e6;
    padding: calc(var(--bs-gutter-x) * .2);
    height: 45.3em;
    background-color: #f2f2f2;
}

.mh-10 {
    height: 10%;
}
.mh-15 {
    height: 15%;
}
.mh-20 {
    height: 20%;
}
.mh-30 {
    height: 30%;
}
.mh-40 {
    height: 40%;
}
.mh-45 {
    height: 45%;
}
.mh-55 {
    height: 55%;
}
.mh-60 {
    height: 60%;
}
.mh-70 {
    height: 70%;
}
.mh-80 {
    height: 80%;
}
.mh-85 {
    height: 85%;
}
.mh-90 {
    height: 90%;
}
.col{
    --border: 1px  solid #3242ce;
}

.obj {
    border-radius: 0.4em;
    background-color: #fff;
    border: 0.15em solid #d9d9d9;
}

.cobj{
    padding: calc(var(--bs-gutter-x) * .2);
}
.row-kpi{
    margin: 0;
}
.kpi-text-f {
    margin: 0;
    font-size: 5em;
    color: #4477aa;
    text-align: right;
    padding-right: calc(var(--bs-gutter-x) * .15);
}
.kpi-text-s {
    margin: 0;
    font-size: 2em;
    text-align: left;
    padding-left: calc(var(--bs-gutter-x));
    color: #8e477d;
}
.kpi-text-s-title{
    margin: 0;
    text-align: left;
    padding-left: calc(var(--bs-gutter-x));
    color: var(--bs-gray-600);
}
.kpi-text-f-title{
    margin: 0;
    font-size: 2.5em;
    text-align: center;
    color: var(--bs-gray-600);
}

.row-rb{
    margin-left: 0;
    margin-right: 0;
}
.rb{
    padding-left: 0;
    padding-right: 0;
}

.chart-title{
    margin: 0 0.5em;
    font-size: 1.5em;
    color: var(--bs-gray-600);
    text-align: left;
    font-weight: 500;
}
.chart-title-2{
    margin: 0 0.5em;
    font-size: 1.4em;
    color: var(--bs-gray-600);
    text-align: left;
    font-weight: 500;
}
.treemap_container{
    padding: 0.1em;
}
.heatmap-head-col{
    font-size: 0.7em;
}
.heatmap-head-row{
    font-size: 0.7em;
}
.table-value{
    font-size: 0.2em;
}
.container{
    height: 98%;
    overflow-y: auto;
    margin: 0 .8em 0em .4em;
}