.nav-filters{
    border-width: 0em 0.2em 0.2em;
    border-style: solid;
    border-color:  #f2f2f2 #dee2e6 #dee2e6;
    background-color: #f2f2f2;
    padding: 0.3em;
}

.nav-link-filter{
    border-radius: .5em;
    border-width: .15em;
    border-color: #dee2e6;
    border-style: solid;
    color: #495057;
    --bs-nav-link-hover-color: #495057;
    margin-right: 0.3em;
}

.nav-link-no-filters{
    border-radius: .5em;
    border-width: .15em;
    border-style: solid;
    border-color: #f2f2f2;
    color: #495057;
    --bs-nav-link-hover-color: #495057;
}

